﻿@using DomainDrivenDesign.Core
@model Core.FrontEnd.Models.FeHomePage.Section
@{
    Layout = null;
    var products = Model.Data.Products;
    var currencyCode = EngineeCurrentContext.GetCurrencyCode();
}
@if (products.Count > 0)
{
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var i = 0; i < products.Count; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @for (var i = 0; i < products.Count; i++)
                {
                    <div class="carousel-item @(i==0?"active":"")"
                         style="background-image: url('@products[i].UrlImage')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3><a href="/product/@products[i].SeoUrlFriendly">[@products[i].ProductCode @products[i].Title (@products[i].Price @currencyCode)</a></h3>
                            <p>@products[i].ShortDescription</p>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
}
