﻿@model Core.FrontEnd.Models.FeHomePage.Section
@{
    Layout = null;
    var news = Model.Data.News;

}
@if (news.Count > 0)
{
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var i = 0; i < news.Count; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @for (var i = 0; i < news.Count; i++)
                {
                    <div class="carousel-item @(i==0?"active":"")"
                         style="background-image: url('@news[i].UrlImage')">
                        <div class="carousel-caption d-none d-md-block">
                            <h3><a href="/news/@news[i].SeoUrlFriendly"> @news[i].Title</a></h3>
                            <p>@news[i].ShortDescription</p>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
}
