<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Shopping cart items
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-shoppingcart-list-item></app-shoppingcart-list-item>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Payment & shipping method
    </mat-expansion-panel-header>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="3:2">
      <mat-grid-tile>
        <mat-card class="mat-cart-checkout-page">
          Payment method
          <mat-divider></mat-divider>
          <div  class="payment-methods">
            <mat-radio-group [(ngModel)]="paymentMethod">
              <div *ngFor="let p of checkoutPageData.PaymentMethods">
                <mat-radio-button [value]="p.Id">
                  {{p.Name}}
                </mat-radio-button>
                <p innerHTML="{{p.Description}}"></p>
              </div>
            </mat-radio-group>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="mat-cart-checkout-page">
          Shipping method
          <mat-divider></mat-divider>
          <div class="shipping-medhods">
            <mat-radio-group [(ngModel)]="shippingMethod">
              <div *ngFor="let s of checkoutPageData.ShippingMethods">
                <mat-radio-button [value]="s.Id">
                  {{s.Name}}
                </mat-radio-button>
                <p innerHTML="{{s.Description}}"></p>
              </div>
            </mat-radio-group>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      Voucher, Contact info, Receiving time & address
    </mat-expansion-panel-header>
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
      <mat-grid-tile>
        <mat-card class="mat-cart-checkout-page">
          <input type="text" placeholder="Voucher code" [(ngModel)]="voucherCode" />
          <button mat-icon-button title="Check voucher" (click)="doCheckVoucher()"><mat-icon>check_circle</mat-icon></button>
          <mat-divider></mat-divider>
          <div class="contact-info">
            <mat-form-field>
              <input matInput placeholder="Fullname" class="input" [(ngModel)]="fullName"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Phone number" class="input" [(ngModel)]="phone" />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" class="input" [(ngModel)]="email"/>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Note" class="input" rows="3" [(ngModel)]="note"></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="selectedDate"
                     readonly placeholder="Receiving a date" (click)="picker.open()" class="input" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Hour" #hour [(ngModel)]="selectedHour" class="input">
                <mat-option *ngFor="let h of hours" [value]="h.key">
                  {{h.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Minutes" #minute [(ngModel)]="selectedMinute" class="input">
                <mat-option *ngFor="let m of minutes" [value]="m.key">
                  {{m.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="mat-cart-checkout-page">
          Your address
          <mat-divider></mat-divider>
          <app-google-map-pick-address (addressPicked)="onAddressPicked($event)" (checkShippingCost)="onCheckShippingCost($event)"></app-google-map-pick-address>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

</mat-accordion>
<mat-card class="checkout-dopayment">
  <button mat-button (click)="doCheckoutAndGoPayment()" class="do-payment">
    <mat-icon>monetization_on</mat-icon> Do payment
  </button>
</mat-card>
