.mat-cart-checkout-page {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  overflow: auto;
}
.contact-info {
  margin-top: 5px;
}
.contact-info > * {
  width: 100%;
}
.mat-cart-voucher-info {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
}
.mat-expansion-panel-header {
  font-weight: bold;
}
.payment-methods, .shipping-medhods {
  margin-top: 15px;
}
.do-payment {
  text-transform: uppercase;
  font-weight: bold;
  color: #000080;
}
