<h1 mat-dialog-title>{{data.Title}}</h1>
<div mat-dialog-content>
  {{data.Message}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="onYesClick()" cdkFocusInitial>Yes</button>
</div>
