<div>
  <h1 mat-dialog-title>
    <mat-icon>{{data.Icon}}</mat-icon> {{data.Title}}
  </h1>
  <div mat-dialog-content innerHTML="{{data.Message}}">
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onOkClick()">Ok</button>
  </div>
</div>
