<div>
  <button mat-icon-button (click)="onCloseClick()" title="close"><mat-icon>close</mat-icon></button>
  {{title}}
</div>
<mat-divider></mat-divider>
<div class="image-dialog">
  <div  class="image-slider-thumb">
    <img *ngFor="let img of urlImages" src="{{img}}" (click)="mainImg.src=img" title="click to see bigger image" />
  </div>
  <div class="image-slider-main">
    <img src="{{getFirstUrlImage()}}" #mainImg/>
  </div>
</div>
