.image-dialog {
  height: 100vh;
}
.image-slider-main img {
  width: 100%;
  max-width: 600px;
}
.image-slider-thumb {
  margin-bottom: 5px;
}
.image-slider-thumb img {
  height: 32px;
  cursor: pointer;
  padding: 3px;
}
