<div id="slideUpdownMenuTop" style="{{showSlideUpdownMenuTop}}">
  <mat-toolbar class="app-top-tool-bar">
    <button type="button" mat-icon-button (click)="sidenav.open()">
      <mat-icon aria-label="Side nav toggle icon" class="material-icons">menu</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="navigateTo('/home-page')">
      <img src="./assets/imgs/icon.png" /> <span *ngIf="!isHandset">homeCOOK</span>
    </button>
    <span class="app-top-tool-bar-spacer"></span>
    <mat-form-field >
      <input matInput type="text" placeholder="keywords to search" #txtSearch  [(ngModel)]="keywordsToSearch"
             (keyup.enter)="doSearch(txtSearch.value)"/>
      <button matSuffix mat-icon-button aria-label="Clear" (click)="doSearch(keywordsToSearch)">
        <mat-icon>find_in_page</mat-icon>
      </button>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="sidenavRight.open()">
      <mat-icon class="material-icons">shopping_cart</mat-icon> <span>{{miniCart.TotalQuantity}}</span>
    </button>
  </mat-toolbar>
</div>

<mat-sidenav-container class="page">
  <mat-sidenav #sidenav class="side-nav-left">
    <mat-toolbar class="app-top-tool-bar">
      <button type="button" mat-icon-button (click)="sidenav.close()">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons">menu</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="navigateTo('/home-page')">
        <img src="./assets/imgs/icon.png" /> <span *ngIf="!isHandset">homeCOOK</span>
      </button>
    </mat-toolbar>
    <app-menu-top (menuClicked)="onMenuClicked($event)"></app-menu-top>
  </mat-sidenav>
  <mat-sidenav-content class="page-content">
    <mat-toolbar class="app-top-tool-bar">
      <button type="button" mat-icon-button (click)="sidenav.open()">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons">menu</mat-icon>
      </button>
      <button type="button" mat-icon-button>
        <img src="./assets/imgs/icon.png" (click)="navigateTo('/home-page')" /> <span *ngIf="!isHandset">homeCOOK</span>
      </button>
      <span class="app-top-tool-bar-spacer">
      </span>
      <mat-form-field >
        <input matInput type="text" placeholder="keywords to search" #txtSearch [(ngModel)]="keywordsToSearch"
               (keyup.enter)="doSearch(txtSearch.value)"/>
        <button matSuffix mat-icon-button aria-label="Clear" (click)="doSearch(keywordsToSearch)">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </mat-form-field>
      <button type="button" mat-icon-button (click)="sidenavRight.open()">
        <mat-icon class="material-icons">shopping_cart</mat-icon> <span>{{miniCart.TotalQuantity}}</span>
      </button>
    </mat-toolbar>
   <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #sidenavRight position="end" class="side-nav-right">
    <mat-toolbar class="app-top-tool-bar">
      <span>Shopping cart          </span>
      <span class="app-top-tool-bar-spacer"></span>
      <button type="button" mat-icon-button (click)="clearCart()">
        <mat-icon class="material-icons">delete_forever</mat-icon>
      </button>
      <button type="button" mat-icon-button (click)="sidenavRight.close()">
        <mat-icon class="material-icons">shopping_cart</mat-icon> <span>{{miniCart.TotalQuantity}}</span>
      </button>
    </mat-toolbar>
    <app-shoppingcart-list-item></app-shoppingcart-list-item>
    <mat-card>
      <button type="button" mat-button (click)="navigateTo('/shoppingcart-checkout');sidenavRight.close()"><mat-icon>open_in_new</mat-icon> Checkout</button>
    </mat-card>
  </mat-sidenav>
</mat-sidenav-container>

<mat-divider></mat-divider>
<mat-card>
  <mat-card-title>
    About me  
  </mat-card-title>
  <mat-card-content class="dashboard-card-content">
    <div>Quotes "badpaybad", it is short words stand for : "when you do bad thing, the life will feed back bad thing to you."</div>    
    <div style="position:relative;">
        <div style=" position: absolute; background-color:red; width:50%; bottom:10px; color:yellow;">
          Overlay text here
        </div>
        <video id="video1" style="min-width: 240px;width: 100%;" >
          <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" >
            <audio src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" ></audio>
          Your browser does not support HTML5 video.
        </video>
    </div>
    <div>
      <button mat-button (click)="video1PlayPause()">
        <mat-icon class="material-icons" aria-label="hiden">play_arrow</mat-icon>
        Play/Pause</button> 
    </div>
  </mat-card-content>  
</mat-card>

<mat-divider></mat-divider>
<mat-card>
    <mat-card-title>
        TinyMCE test
      </mat-card-title>
 
  <editor apiKey="5rnx14672s6te9ilm1e398yzeumd190lz5xxooszgy4khe6i" [init]="{plugins: 'link'}"  [(ngModel)]="tinyMceData" ></editor>
</mat-card>
<mat-card>
    <div innerHTML="{{tinyMceData}}"></div>
</mat-card>

<button type="button" mat-icon-button (click)="gotoTopFunction()" id="btnGotoTop" title="Go to top">
  <mat-icon class="material-icons" aria-label="hiden">arrow_drop_up</mat-icon>
</button>
