.app-top-tool-bar{}
.app-top-tool-bar img {
  height: 40px;
}
.page {
  min-height: 100% !important;
  height: 100% !important;
}
.page-content {
  min-height: 100% !important;
  height: 100% !important;
}
.app-top-tool-bar-spacer {
  flex: 1 1 auto;
}
.side-nav-right {
  min-width: 320px;
  width: 20%;
}

.side-nav-left {
  min-width: 320px;
  width: 20%;
}


#slideUpdownMenuTop {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.05s; /* Transition effect when sliding down (and up) */
  z-index: 9999;
}

/* Style the navbar links */
  #slideUpdownMenuTop a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

    #slideUpdownMenuTop a:hover {
      background-color: #ddd;
      color: black;
    }

  #slideUpdownMenuTop .app-top-tool-bar {
    width: 100% !important;
  }

  #btnGotoTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 9999; /* Make sure it does not overlap */
    transition: top 0.01s; /* Transition effect when sliding down (and up) */
  }


.middle-spacer {
  flex: 1 1 auto;
}
