<div class="meals-container">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" class="meals-container-grid" rowHeight="12:13">
    <mat-grid-tile class="meals-container-item" >
      <mat-card class="meals-card">
        <div class="meals-card-title">Combo</div>
        <mat-divider></mat-divider>
        <div class="meals-card-content">
          <mat-grid-list [cols]="2" rowHeight="1:1" class="meals-combo">
            <mat-grid-tile *ngFor="let c of combos" class="meals-combo-item">
              <img src="{{c.ImageUrl}}" (click)="openComboDetail(c.Id)"/>
              <mat-grid-tile-footer class="meals-combo-footer">
                <button type="button" mat-icon-button title="Add to cart" (click)="addToCart(c.Id)">
                  <mat-icon class="material-icons" aria-label="add to shopping cart">add_shopping_cart</mat-icon>
                </button>
                <button mat-button (click)="openComboDetail(c.Id)">{{c.ProductCode}}</button> {{c.Price}}
              </mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="meals-container-item">
      <mat-card class="meals-card">
        <div class="meals-card-title">Thực đơn</div>
        <mat-divider></mat-divider>
        <div class="meals-card-content">
          <mat-list class="meals-list">
            <mat-list-item *ngFor="let m of menus" class="meals-menu-top">
              <button type="button" mat-button (click)="openMenuDetail(m.Id,m.Title)">
                {{m.Title}}
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="meals-container-item">
      <mat-card class="meals-card">
        <div class="meals-card-title">Đồ uống</div>
        <mat-divider></mat-divider>
        <div class="meals-card-content">
          <mat-list class="meals-list">
            <mat-list-item *ngFor="let d of drinks" class="meals-menu-top">
              <button type="button" mat-icon-button title="Add to cart" (click)="addToCart(d.Id)">
                <mat-icon class="material-icons" aria-label="add to shopping cart">add_shopping_cart</mat-icon>
              </button>
              <button type="button" (click)="openDrinkDetail(d.Id)" mat-button>
                {{d.ProductCode}}
              </button>
              {{d.Price}}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
