.meals-container {
  margin: 10px;
 
}
.meals-container-grid {

}
.meals-container-item {
  
}
.meals-card {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  overflow: auto;
}
.meals-card-title {
  margin-bottom: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 1.3em;
}
.meals-card-content {
  margin-bottom: 0px;
  margin: 0px;
  padding: 10px 5px 5px 5px;
}
.meals-combo {
}
.meals-combo-item {
}
.meals-combo img {
  height: 100%;
  cursor: pointer;
}
.meals-list {
  margin-top: 0px;
  padding-top: 0px;
}
.meals-combo-footer {
  
}

.meals-combo-item mat-grid-tile-footer {
  padding: 0 5px;
}
