<input id="pac-input" class="form-control" type="text" placeholder="type your address" value="">
<input id="pac-input-lat" readonly="readonly" value="21.0286234"/>
<input id="pac-input-lng" readonly="readonly" value="105.8437302"/>
<button (click)="doCheckShippingCost()">Check cost</button>
<div id="map" ></div>
