<div class="product-detail-bottom">
  <button type="button" (click)="close()" mat-icon-button>
    <mat-icon class="material-icons" aria-label="hiden">arrow_drop_down</mat-icon>
  </button>
  {{product.Title}} <b>Code: {{product.ProductCode}}</b>
  <mat-divider></mat-divider>
  <div class="product-detail-attribute">
    <b>Gram: {{product.Gram}} </b> <i> Calorie: {{product.Calorie}} </i> Price: {{product.Price}}
  </div>
  <mat-grid-list cols="2" class="product-detail">
    <mat-grid-tile class="product-detail-image">
      <img src="{{product.ImageUrl}}" (click)="showImageSlider()" />
    </mat-grid-tile>
    <mat-grid-tile class="product-detail-action">
      <button type="button" mat-icon-button (click)="addToCart()">
        <mat-icon class="material-icons" aria-label="add to shopping cart">add_shopping_cart</mat-icon>Add to cart
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="product-detail-description" innerHTML="{{product.Description}}">

    </mat-grid-tile>
  </mat-grid-list>

</div>
