.product-detail-bottom {
}

.product-detail {
}

  .product-detail img {
    height: 100%;
    cursor: pointer;
  }

.product-detail-attribute {
  text-align: right;
}

.product-detail-action {
}

.product-detail-description {
  overflow: auto;
  padding-top: 5px !important;
}

.product-detail-image {
}

.product-detail-text {
  height: 24px;
}
