<div class="menu-detail-bottom">
  <button type="button" (click)="close()" mat-icon-button>
    <mat-icon class="material-icons" aria-label="hiden">arrow_drop_down</mat-icon>
  </button>
  {{categoryTitle}}
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="products" class="mat-elevation-z8 products-bottom">
    <ng-container matColumnDef="ImageUrl">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let itm">
        <img src="{{itm.ImageUrl}}" class="product-bottom-image" (click)="showImageSlider(itm.Id)"/>
      </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp; </td>
    </ng-container>
    <ng-container matColumnDef="ProductCode">
      <th mat-header-cell *matHeaderCellDef> Code<br /><i>Title</i> </th>
      <td mat-cell *matCellDef="let itm">
        {{itm.ProductCode}}
        <br /><i>{{itm.Title}}</i>
      </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp; </td>
    </ng-container>
    <ng-container matColumnDef="Gram">
      <th mat-header-cell *matHeaderCellDef> Gram<br /><i>Calorie</i> </th>
      <td mat-cell *matCellDef="let itm"> {{itm.Gram}}<br /><i>{{itm.Calorie}}</i> </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp; </td>
    </ng-container>
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let itm"> {{itm.Price}} </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp; </td>
    </ng-container>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let itm">
        <div class="menu-detail-bottom-cart">
          <input matInput type="number" placeholder="quantity" min="1" #quantityToCart required value="1" />
          <button type="button" mat-icon-button title="Add to cart" (click)="addToCart(itm.Id,quantityToCart.value)">
            <mat-icon class="material-icons" aria-label="add to shopping cart">add_shopping_cart</mat-icon>
          </button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef>&nbsp; </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="productColumns"></tr>
  </table>
</div>
