    <table mat-table [dataSource]="cartItems" class="mat-elevation-z8 shopping-cart-list-item">
  <ng-container matColumnDef="UrlImage">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let itm"> <img src="{{itm.UrlImage}}" class="cart-item-image" (click)="openProductDetail(itm.ProductId)" /> </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>
  <ng-container matColumnDef="ProductCode">
    <th mat-header-cell *matHeaderCellDef> <b>Code</b><br/><i>Quantity</i><br/>Price </th>
    <td mat-cell *matCellDef="let itm">
      <b>{{itm.ProductCode}}</b>
      <br /><i>{{itm.Quantity}}</i> * {{itm.UnitPrice}}
    </td>
    <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>
  <ng-container matColumnDef="TotalPrice">
    <th mat-header-cell *matHeaderCellDef> Total Price </th>
    <td mat-cell *matCellDef="let itm">&nbsp;<br/> {{itm.TotalPrice}} </td>
    <td mat-footer-cell *matFooterCellDef> {{getSubTotalShoppingCart()}} </td>
  </ng-container>
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let itm" class="shopping-cart-action">
      <button type="button" mat-icon-button class="shopping-cart-action-text" title="add one" (click)="addOneProductToCart(itm.ProductId)">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
      <button type="button" mat-icon-button class="shopping-cart-action-text" title="remove one" (click)="removeOneProductFromCart(itm.ProductId)">
        <mat-icon>exposure_neg_1</mat-icon>
      </button><br/>
      <button type="button" mat-icon-button class="shopping-cart-action-text" title="remove from shopping cart" (click)="removeAllProductFromCart(itm.ProductId)">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef>  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="shoppingCartColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: shoppingCartColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="shoppingCartColumns"></tr>
</table>
