/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { margin: 0; }
.mat-bottom-sheet-container {
  
}
/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
  width: 100%;
  min-height: 360px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
