﻿@using DomainDrivenDesign.Core
@using DomainDrivenDesign.CorePermission
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - core.frontend.ddd</title>
    @if (IsSectionDefined("MetaSEO"))
    {
        @RenderSection("MetaSEO")
    }
    else
    {
        <meta content="core.frontend.ddd" name="description" />
        <meta content="core.frontend.ddd" name="keywords" />
    }
    <meta content="core.frontend.ddd" name="author" />
    <link rel="shortcut icon" href="/Content/imgs/favicon.png" />
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/modern-business.css" rel="stylesheet" />
    <link href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/tinymce/prism.css" rel="stylesheet" /> 
    <link href="/Content/Site.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    <div class="copa-head">
        <div class="copa-head-40">
            <a href="/">
                <img src="~/Content/imgs/logo-100.png" />
            </a>
        </div>
        <div class="copa-head-60 search-top">
            <div class="row">
                <div class="col-md-6 slogan">
                    Nguyễn Phan Du's personal webiste
                    <br/><i>Knowledge should be shared</i>
                </div>
                <div class="col-md-6">
                    <div>
                        @{
                            var currentUser = UserSessionContext.CurrentUser();
                            if (currentUser != null)
                            {
                                <a href="/User/UserProfile/">@currentUser.Username</a>
                                <span> | </span>
                                <a href="/User/Logout/">Logout</a>
                            }
                            else
                            {
                                <a href="@UserSessionContext.UrlFrontEndLogin">Login</a>
                            }
                        }
                    </div>
                    <div>
                        <input id="txtTopSearch" value="" placeholder="type keywords to search" />
                        <button id="btnTopSearch" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-float"></div>
    </div>
    @Html.Partial("_MainMenu")
    @RenderSection("slider", false)
    <div class="container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <div id="modal-waiting" style="display: none">
        <div class="waiting-text">
            <img src="/Content/imgs/loading.gif" /> wating ...
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/tinymce/prism.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/system-notification-hub.js"></script>
    <script>

        var __siteLangs = [];
        var __currentLangid = '@EngineeCurrentContext.LanguageId';

        @foreach (var l in EngineeCurrentContext.ListSiteLanguage())
    {
        <text>__siteLangs['@l.Id'] = '@l.Title'</text>
    }

        var searchKeywordTop=function() {
            window.location = '/fulltextsearch/result?keywords=' + encodeURIComponent(jQuery('#txtTopSearch').val());
        }
        jQuery('#btnTopSearch').on('click', function(e) {
            searchKeywordTop();
        });

        jQuery('#txtTopSearch').on("keyup",function(e) {
            if ( e.which == 13 ) {
                searchKeywordTop();
            }
        });
        MainMenu = {
            changeLanguage: function(langid, reload) {
                //$('#site-lang')
                $('#site-lang-text').text(__siteLangs[langid]);

                Cookies.set("langid", langid);
                if (reload === true) {
                    window.location.reload(true);
                }
            },
            init: function() {
                var temp = '';
                var langCount = 0;
                for (var i in __siteLangs) {
                    temp += '<a href="javascript:" class="dropdown-item" onclick="MainMenu.changeLanguage(\'' +
                        i +
                        '\',true)">' +
                        __siteLangs[i] +
                        '</a>';
                    langCount++;
                }
                $('#site-lang-ul').html(temp);

                MainMenu.changeLanguage(__currentLangid);
                if (langCount > 1) //
                {
                    $('#mainLiLangList').show();
                }
            }
        }

        MainMenu.init();
    </script>
    <script src="/Scripts/site.js"></script>
    <script>
        ShoppingCart.init();
    </script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("img").on("error", function () {
                $(this).attr('src', '/Content/imgs/no-image.png');
            });
        });
    </script>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="329763430782749">
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11914233-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }

    gtag('js', new Date());

    gtag('config', 'UA-11914233-1');

</script>
  
</body>
</html>
