﻿@using DomainDrivenDesign.Core
@using Core.FrontEnd.Models
@{
    var menus = new MenuBuilder().MainMenu();
}
<nav class="navbar navbar-expand-lg copa-menu navbar-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right copa-mobi-menu-icon" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon copa-mobi-menu-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @foreach (var m in menus)
                {
                    if (m.SubItems.Count == 0)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Category/@m.SeoUrlFriendly">@m.Title</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Category/@m.SeoUrlFriendly" id="@m.Id"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @m.Title
                            </a>
                
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="@m.Id">
                                <a class="dropdown-item" href="/Category/@m.SeoUrlFriendly">@m.Title</a>
                                @foreach (var s in m.SubItems)
                                {
                                    <a class="dropdown-item" href="/Category/@s.SeoUrlFriendly">@s.Title</a>
                                }
                            </div>
                        </li> }

                }
                <li class="nav-item dropdown" id="mainLiLangList" style="display: none;">
                    <a class="nav-link dropdown-toggle" href="#" id="site-lang-text" 
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        English
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="site-lang-text"
                         id="site-lang-ul"></div>
                </li>
                <li class="nav-item" id="shopping-cart-mini" 
                    onclick="window.location='/ShoppingCart/Index'" title="go to shopping cart">
                    <a onclick="window.location = '/ShoppingCart/Index'"
                       class="nav-link copa-shopping-cart">
                        <span class="fa fa-shopping-cart ">&nbsp;</span>
                        <span id="shopping-cart-mini-quantity"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:" class="nav-link"  onclick="ShoppingCart.createNew()"
                       title="create new cart">[x]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
